@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

button {
  background-color: #4e4e4e;
  color: #b4b4b4;
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 12px;
  font-size: 15px;
}

.container {
  inline-size: 100%;
  /* block-size: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 730px;
}

.dropdown-label {
  cursor: pointer;
}

.dropdown-options {
  background-color: #2c2c2c;
  color: #e0e0e0;
  width: max-content;
  display: flex;
  flex-direction: column;
  display: none;
  box-sizing: border-box;
  transition: border 0.fs ease;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
}

.dropdown-option:hover {
  cursor: pointer;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.dropdown {
  margin: 0rem;
  padding: 0rem;
  border-radius: 5px;
}

.show-dropdown {
  display: block !important;
}

.background {
  inline-size: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  padding-block-end: 1rem;
  border-radius: 0.6rem;
  max-width: 730px;
  overflow-x: scroll;
}

.top {
  display: flex;
  background-color: #2f2f2f;
  padding: 0.6rem 2rem;
  justify-content: end;
  border-radius: 0.6rem 0.6rem 0rem 0rem;
}

.options {
  display: flex;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  padding: 1rem 3rem 1rem 1rem;
}

.button {
  /* position: relative; */
}

.icon {
  /* position: absolute;
  left: 0.3rem;
  top: 0.7rem; */
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flex-no-gap {
  display: flex;
  align-items: center;
  gap: 0rem;
  margin: 0rem;
  padding: 0rem;
}

.flex p,
.flex-no-gap p {
  min-width: max-content;
}

.green {
  color: #28f140;
  /* display: none; */
}

.blue {
  color: #1d92ff;
}

.purple {
  color: #7916e2;
}

.red {
  color: #e31586;
}
